nav > ul{display: flex;}


nav li{
        list-style:none;
        
        margin-right:10px ;
        padding: 2px 5px;
      }

nav li:hover{background-color: rgba(222, 54, 255, 0.466); border-radius: 15px;}

nav li a{
text-decoration: none;
color: black;}

 .dropdown{display: none;}  

nav li:hover > .dropdown
{display: block;
position: absolute;
background-color: rgb(133, 17, 148);
padding-left: 10px;
border-radius: 15px;}








